<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div>
            <h1>Chatroom 1</h1>
            <a href="/logout" class="clear">Logout</a>
        </div>
    </header>

    <section class="content-section">
        <section class="chat-section">
            <% messages.forEach( el => { %>
                <div data-id='<%=el._id%>'>
                    <div class="favorite-color <%= el.authorProfilePic %>">
                    </div>
                    <span class="author">
                        <%= el.authorDisplayName %>
                    </span>
                    <span class="date">
                        <%= el.date %>
                    </span>
                    <% if(user.id === el.userId) { %>
                        <span class="del">X</span>
                    <% } %>
                    <p class="message-content">
                        <%= el.content %>
                    </p>
                </div>
            <% }) %> 
        </section>
        <br>
        <section class="form-section">
            <form action="/chatrooms/createMessage" method='POST'>
                <textarea type="text" placeholder="Enter Message" name='messageContent' rows="4" cols="70"></textarea>
                <button type="submit" class="right">Send</button>
            </form>
        </section>
    </section>


    <script src="js/main.js"></script>
</body>
</html>